root{
    --color-ado: #050034;
    --color-ado2: #001aff;

    --color-ado-neon: #00ffee;
    --color-ado-camaron: #e9f111;
    --color-adomination: #13a300;
    --color-adomination-back: #4cfa35;

    --color-acero: #1a1d24;
    --color-smoke: #f0f4f8;
    --color-alerta: #de9b00;

    --color-mirage: #de9b00;
    --color-dust2: #fff1cf;
    --color-acient: #185f00;
}


main{
    margin-top: 5.5307rem;
}

.card-img-top {
    height: 250px;       /* Ajusta la altura fija que prefieras (ej. 250px o 280px) */
    object-fit: cover;   /* Recorta la imagen proporcionalmente para que llene el espacio sin deformarse */
    object-position: center; /* Centra la imagen para que no se corte lo importante */
}

#adoplushes-section{
    background-color: #03001c !important;
}

#adoplushes-container{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

#Gyaru{
    border-color: #001aff;
    transition: all 0.3s ease;
}

#Gyaru:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #00ffee !important;
}

#adoplush{
    border-color: #001aff;
    transition: all 0.3s ease;
}

#adoplush:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #62bef8 !important;
}

#Gyaru-Camaron{
    border-color: #001aff;
    transition: all 0.3s ease;
}

#Gyaru-Camaron:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #e9f111 !important;
}

#Adocamisa{
    border-color: #000000;
    transition: all 0.3s ease;
}

#Adocamisa:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #ffffff !important;
}

#Adomination{
    border-color: #13a300;
    transition: all 0.3s ease;
}

#Adomination:hover{
    transform: scale(1.03) !important; 
    box-shadow: 0 10px 20px #4cfa35 !important;
}

